@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 80px;
    font-size: 14px;
    text-decoration: none;
    background-color: aliceblue;
    width: 100%;
}

header a{
    text-decoration: none;
}

header input{
    border: solid #2929ce 2px;
    border-radius: 5px;
    padding: 5px;
    width: 200px;

}

#headerMenu{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

h1 {
    font-family: "Parkinsans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    color: #1b1b8a;

}

h2 {
    font-family: "Parkinsans", serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(48, 48, 48);

}

h3 {
    font-family: "Parkinsans", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(48, 48, 48);

}

h4 {
    font-family: "Parkinsans", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(48, 48, 48);

}

p {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(48, 48, 48);
}

ul {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(10, 10, 50);

}

input {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: #2929ce;
    font-family: "Parkinsans", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    padding: 10px 20px 10px 20px;
    border: unset;
    border-radius: 10px;
    font-size: 18px;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
    padding: 50px 300px 50px 300px;
}

#hero h1{
    font-size: 38px;
}

#hero h4{
    font-weight: 500;
    font-size: 20px;
}
#mockupHero{
    width: 900px;
}

#tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    color: rgb(24, 24, 24);
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 14px;
}

#tutorial h1{
    font-size: 24px;
    color:  rgb(24, 24, 24);
}

#tutorial ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#tutorial i{
    transform: scale(1.5);
    padding-right: 15px;
}

#productCatalog {
    max-width: 500px;
    border: solid 2px rgb(41, 41, 206) ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: rgb(10, 10, 50);
    height: 320px;
    text-align: left;
    padding-bottom: 10px;

}

#productCatalog i{
    padding: 10px 0 10px 10px;
    transform: scale(2.5);

}


#catalog{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 50px 0 50px 0;
    gap: 50px;
}

#infoProduct {
    padding: 25px;
}

#imgCatalog {
    width: 400px;
    background-color: black;
    background-image: url("mockups/cap-mockup-front-back-view/ff81cfc2-c483-4fdd-925b-7999efbc7e1d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.gridPortfolioCard{
    width: 200px;
    border: solid rgb(41, 41, 206) 3px;

}

#listaExtra li{
    list-style: none;
}

.listaExtraItems{
    background-color: rgb(27, 27, 172);
    margin-bottom: 15px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: white;
    border-radius: 50px;

}

.listMarked{
    background-color:  white;
    color:  rgb(27, 27, 172);
    border: solid 1px rgb(41, 41, 206);
    margin-bottom: 15px;
    padding: 15px 10px 15px 10px;
    border-radius: 50px;
    text-align: center;


}
.listUnmarked{
    background-color:   rgb(27, 27, 172);
    color:  white;
    margin-bottom: 15px;
    padding: 15px 10px 15px 10px;
    border-radius: 50px;
    text-align: center;
}

.fa-solid{
    padding-bottom: 15px;
}

.portfolioDiv{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 50px;
    width: 100%;
}

.portfolioImageDiv{
    width: 200px;
}